* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
}

.container {
    width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
}

.block1-1 {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    background-color: seashell;
}

.block1-2 {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    background-color: seashell;
}

.block1-3 {
    width: 100%;
    height: 250px;
    background-color: seashell;
}